<div class="card">
    <div class="card-header">
      <h4>{{product ? 'Update': 'Add'}} Product</h4>
    </div>
    <div class="card-body">
      <div class="form">
        

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="name" type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Price</label>
            <input [(ngModel)]="price" type="number" class="form-control">
          </div>
        </div>
      </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Description</label>
            <textarea [(ngModel)]="description" rows="5" class="form-control"></textarea>
          </div>
        </div>
      </div>

        <div class="form-group">
          <button (click)="onUpdate()" class="btn btn-success">{{product ? 'Update': 'Add'}}</button>
          <a style="margin-left: 10px;" routerLink="/product-list" class="btn btn-danger">Cancel</a>
        
        </div>
  
  
    </div>
  </div> 